<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>Voyage</title>
    <link rel="icon" href="/ico.png">
    <link rel="stylesheet" type="text/css" href="/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>

<body>
<div class = "blur">
    <div style="margin-top: 1em;">
        <div class = "mid">
            <a href="/"><img src = "/logo.png" width="20%"></a>
        </div>
    </div>
    <div class = "main">
        <div class="container">
            <ul class="menu">
                <li class="col-sm-4 col-xs-12"><a href="/personal">Личный кабинет</a></li>
                <li class="col-sm-4 col-xs-12"><a href="/booking">Поиск туров</a></li>
                <li class="col-sm-4 col-xs-12"><a href="/logout" th:text="'Выйти ('+${nickname}+')'"></a></li>
            </ul>
        </div>
        <div class="container">
            <form method="POST">
                <h2>Добавление туров</h2>
                <div class="divcell">
                    <h5>Пункт отправления</h5>
                    <label>
                        <input type="text" name="start" placeholder="Из" class="mform">
                    </label>
                </div>
                <div class="divcell">
                    <h5>Пункт назначения</h5>
                    <label>
                        <input type="text" name="finish" placeholder="В" class="mform">
                    </label>
                </div>
                <div class="divcell">
                    <h5>Стоимость</h5>
                    <label>
                        <input type="number" name="price" class="mform">
                    </label>
                </div>
                <div class="divcell">
                    <h5>Дата тура</h5>
                    <label>
                        <input type="date" name="date" class="mform">
                    </label>
                </div>
                <div class="divcell">
                    <h5>Кол-во туров</h5>
                    <label>
                        <input type="number" name="count" class="mform">
                    </label>
                </div>
                <h2 style="margin-top: 20px">Описание туров</h2>
                <div class="col-md-6 text-right">
                    <h5>Введите ссылку на изображение тура</h5>
                    <label>
                        <input type="text" name="img" placeholder="Изображение" class="lform">
                    </label>
                </div>
                <div class="col-md-6 text-left">
                    <h5>Введите ссылку на описание тура</h5>
                    <label>
                        <input type="text" name="text" placeholder="Описание" class="lform">
                    </label>
                </div>
                <button type="submit" class="butt" style="margin-top: 0.5em;">Добавить</button>
            </form>
            <div class="errors" style="margin-top: 10px;" th:text="${tourError}"></div>
            <h4 class="otstup"><a class="mylink" href="/admin">Назад</a></h4>
        </div>
    </div>
</div>
</body>
</html>