<!DOCTYPE html>
<html xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8">
  <title>Voyage</title>
  <link rel="icon" href="/ico.png">
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>

<body>
  <div class = "container blur">
    <div class = "row first">
      <div class = "mid">
        <a href="/"><img src = "/logo.png" width="20%"></a>
      </div>
    </div>
    <div class = "row">
      <div class = "main">
        <form method="POST" action="/login">
          <h2>Войдите в систему</h2>
          <div>
            <label>
              <input name="username" type="text" placeholder="Логин" autofocus="true"/>
            </label>
            <label>
              <input name="password" type="password" placeholder="Пароль">
            </label>
            <button type="submit" class="butt">войти</button>
            <h4 class="otstup"><a class="mylink" href="/registration">Зарегистрироваться</a></h4>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
</html>